

# Environment variables
.env
.env.*

# Foundry build files
out/
cache/

# Dependencies
lib/
node_modules/

# Broadcast deploy history
broadcast/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log